@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  @apply p-1;
  @apply bg-white;
  @apply text-zinc-900;
  @apply h-screen;
}

.diff-display del {
  @apply bg-red-200;
  text-decoration: none;
}

.diff-display ins {
  @apply bg-green-200;
  text-decoration: none;
}
